<div class="container-fluid"  style="margin-top: 5%;">
   <div class="row text-ligt">
      <div class="col-md-4"></div>
      <div class="col-md-4 h2 text-danger"><b> EXPIRING SUBSCRIPTION </b></div>
      <div class="col-md-4"></div> 
   </div>
   <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
            <div class="jumbotron jumbotron-fluid">
                 <div class="container"> 
                     <div class="row">
                        <%= form_tag(url_for(:controller => "report", :action => "expiring_subscription"), :id => "report_filter", class: "form-horizontal", :method => :get) do %>
                          <div class="col-sm-4">
                            <b>From:</b>
                            <div class="form-group">
                              <input type="date" name="subs_from" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-2"></div>
                          
                          <div class="col-sm-4">
                            <div class="form-group">
                               <b>To:</b> 
                              <input type="date" name="subs_to" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-2" style="margin-top: 18px;">
                              <input class="btn btn-primary btn-block"  name="commit" type="submit" value="Seach" />
                          </div>
                        <%end%>
                     </div>
                 </div>
              </div>
         </div>
         <div class="col-md-1"></div>
  </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-primary">
                  <th scope="col">Subscription Date</th>  
                  <th scope="col">Member Name</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Product Description</th>
                  <th scope="col">Duration(Year)</th>
                  <th scope="col">Status</th>
                  <th scope="col">Expiring Subscription Date</th>
                </tr>
              </thead>
                <% @inactive_expiring_sub_in_date_range.each do |inactive_subscription| %>
                <% @member_name = Member.where(id: inactive_subscription.member_id).take.name %>
                <% @product_name = Product.where(id: inactive_subscription.product_id).take.name %>
                <% @product_description = Product.where(id: inactive_subscription.product_id).take.description %>
                <tbody>
                 <tr class="bg-info"> 
                    <td> <%= inactive_subscription.subscribed_at %></td>
                    <td> <%= @member_name %></td>
                    <td> <%= @product_name %></td>
                    <td> <%= @product_description %></td>
                    <td> <%= inactive_subscription.duration %></td>
                    <td> <%= inactive_subscription.status %></td>
                    <td> <%= inactive_subscription.subscribed_at + inactive_subscription.duration.year %></td>
                 </tr>
               </tbody>
              <% end %>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
             <%= link_to 'BACK', root_path, class: 'btn btn-primary' %>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
