<div class="container-fluid"  style="margin-top: 10%;">
   <div class="row text-ligt">
      <div class="col-md-4"></div>
      <div class="col-md-4 h2 text-danger">Follow Ups Of Volunteers</div>
      <div class="col-md-4"></div>
   </div>
   <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
                <div class="jumbotron jumbotron-fluid">
                   <div class="container">
                      <p class="lead "><strong>Id:</strong> <%= @follow.id  %> </p>
                      <p class="lead"><strong>MemberName:</strong> <%= @member.name %>  </p>
                      <p class="lead"><strong>Concert-Name:</strong> <%= @concert.concert_name %> </p>
                      <p class="lead"><strong>Response:</strong> <%= @follow.response %></p>
                      <p class="lead"><strong>Created At:</strong> <%= @follow.created_at %></p>
                      <p class="lead"><strong>Response:</strong> <%= @follow.updated_at %></p>
                   </div>
                   </div>
                   </div>
                </div>
         </div>
         <div class="col-md-1">
          <%= link_to 'BACK', report_follow_ups_by_volunteers_path, class: 'btn btn-primary' %>
         </div>
   </div>
   <script></script>
</div>
