<!DOCTYPE html>
<html>
  <head>
    <title>Swarayan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>   
      <%= yield %>
     <!-- Footer -->
     <div class="container-fluid" style="margin-top: 3%;" >
         <div class="row bg-primary" >
             <div class="col-md-4"></div>
             <div class="col-md-4 text-ligt">© 2018 Copyright: swarayanapp.com</div>
             <div class="col-md-4"></div>
         </div>
     </div>

    
  </body>
</html>
